{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Editar Usuario</h2>

  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} mt-3" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de Usuario</label>
      <input type="text" name="username" class="form-control" value="{{ user.username }}" required>
    </div>

    <!--<div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" value="{{ user.email }}" required>
    </div>-->

    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      <select name="role" class="form-control" required>
        <option value="usuario" {% if user.role == 'usuario' %}selected{% endif %}>Usuario</option>
        <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Administrador</option>
        <option value="superadmin" {% if user.role == 'superadmin' %}selected{% endif %}>Superadministrador</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="text" name="password" class="form-control" value="{{ user.password }}" required>
    </div>


    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
  </form>

  <a href="{{ url_for('lista_usuarios') }}" class="btn btn-secondary mt-3">Volver a la lista de usuarios</a>
</div>
{% endblock %}

